<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C6B99992C57C872002D5458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C6CDE172C35914300ED004B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CDB05172C5FAA9B00AB1937</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
